/*********************
      MAIN COLUMN
         text
**********************/

/* Format the text in the main column for book chapter */
main p, dt, dd{
    text-align: justify;
    line-height: 1.7;
    text-indent: 2em;
    font-size: 15px;
}

/* Change the format paragraph for lists in text */
main > ol > li > p {
    text-indent: 0em;
    line-height: 1.2;
    padding-left: 1em;
}

/* To provide the source of the image */
.source-img {
    font-size: 12px;
    margin-bottom: 3em;
}

/* Section header */

main h2 {
    font-size: 2.5em;
    font-family: inherit;
    margin-top: 1em;
    padding: 5px 20px 15px 60px;
    letter-spacing: normal;
    color: white;
    background-color: rgba(20, 20, 20, .8);
    /*background-color: rgba(0, 0, 30, 0.8);*/
    text-decoration-style: solid;
    text-decoration: underline;
    border-radius: .5em;
    width: calc(100% - 2em);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 3px double black;
    border-bottom: 3px double black;
}

.collapsible {
    display: none;
}

/* Configure table */
tbody td {
    text-align: center;
    letter-spacing: 1px;
}

th {
    border-bottom: 1px solid black;
}

tr {
    font-size: 14px;
}

thead tr {
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 15px;
}

tbody tr:nth-child(even){
    background-color: rgba(190, 189, 189, 0.5);
}

tr th:nth-child(odd){
    width: 115px;
}

thead th:nth-child(even){
    border-right: 2px solid white;
}

tbody td:nth-child(even){
    border-right: 2px solid black;
}
tbody td:last-child{
    border-right: none;
}

.row-button button{
    background-color: white;
    border: none;
    width: 100%;
}

/* Example */
.example{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid black;
}

/* Define the box to be used by definitions, theorem, cautions, etc... */
.box-def {
    margin: 1.5625em auto;
    padding: 0 .6rem .8rem !important;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: .4rem solid rgb(46, 194, 66);
    background-color: rgba(46, 194, 66, 0.08);
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
    transition: color .25s,background-color .25s,border-color .25s;
}

/* Change the font for the elements inside the box. */
.box-def * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

/* Change padding and margin of immediate childs of the box. */
.box-def > * {
    padding: 0px 10px;
    margin: 0;
}

/* configuring list inside box-definition */
.box-def > ol, .box-def > ul {
    width: inherit;
    margin: 20px 0px 0px 4em;
}

/* defines the first paragraph of a box as the title */
.box-def > p:first-child {  
    position: relative;
    margin: 0 -.6rem .75rem;
    padding: .2rem 1rem .2rem 1rem;
    text-indent: 0px;
    font-weight: 700;
    background-color: rgba(68, 255, 93, 0.15);
}

/* changes the color for a cautious box */
.box-caution {
    border-left: .4rem solid rgb(251, 127,	77);
    background-color: rgba(251, 127,	77, 0.08);
}

.box-caution > p:first-child {
    background-color: rgba(255, 124, 72, 0.1);
}

/* changes the color for an exercise box */
.box-exercise {
    border-left: .4rem solid rgb(59, 59, 59);
    background-color: rgba(59, 59, 59, 0.08);
}

.box-exercise > p:first-child {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* defines the question item */
.question-item {
    background-color: rgba(59, 59, 59, 0.08);
    font-style: italic;
    width: inherit;
    margin-top: 10px;
}

.question-item > * {
    text-indent: 0px;
    margin: 0em 1em .3em 1em;
    width: calc(100% - 2em);
}

/* changes the color for a solution sub-box */
.solution {
    margin-top: 2em;
    padding: 1em;
    border-left: .4em solid  rgb(190, 131, 21);
    background-color: rgb(250, 242, 227);
    display: none;
}

.solution dt::before {
    content: "\27A2";
    color: green;
    font-size: 15px;
    margin-right: 0.2em;
}

.solution dt {
    font-style: italic;
    font-size: 14px;

}

.solution dd {
    margin-bottom: 2em;
    text-indent: 0;
    padding-left: 2em;
}

/*Button to show the answers*/
.btn-show-answers {
    margin-top: 2em;
}

.plot {
    width: 100%;
    margin: 0;
    padding: 0;
}

.plot > figcaption{
    text-align: center;
}

.plot-title {
    font-size: 23px;
    font-weight: bold;
}

.plot-subtitle {
    font-size: 18px;
    font-style: italic;
}

caption {
    margin-bottom: 0.5em;
}