name: Publish r-dsci-100 on DockerHub
on: 
  push: 
    paths: 
      - 'dockerfiles/r-stat-201/Dockerfile'
      - 'dockerfiles/r-stat-201-grading/Dockerfile'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/checkout@master
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.17.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
      id: bump
    - uses: oprypin/find-latest-tag@v1
      with:
        repository: UBC-DSCI/docker-stacks  # The repository to scan.
        releases-only: false  # We know that all relevant tags have a GitHub release for them.
      id: release
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ steps.bump.outputs.new_tag }}
        release_name: ${{ steps.bump.outputs.new_tag }}
        body: |
          Changes in this Release
          - Rebuilt r-dsci-100 Docker image and published to DockerHub with new tag
          - Rebuilt r-dsci-grading Docker image and published to DockerHub with new tag
        draft: false
        prerelease: false
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: ubcstat/r-stat-201
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: dockerfiles/r-stat-201
        tags: "${{ steps.release.outputs.tag }}"
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: ubcstat/r-stat-201-grading
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        workdir: dockerfiles/r-stat-201-grading
        tags: "${{ steps.release.outputs.tag }}"
